@page "/"
@using Microsoft.AspNetCore.Components
@using Quiz90s.GameData
@using Microsoft.AspNetCore.SignalR.Client
@using Quiz90s.Hubs
@using Quiz90s.State
@using Quiz90s.Views

@implements IDisposable

@inject NavigationManager NavigationManager
@inject ClientState ClientState

@if(ClientState.HubConnection != null) 
{
    <div class="mb-6" style="width: 100%;display: flex;justify-content: center;">
        <h1 class="mb-2">Quiz90s</h1>
    </div>
    
    <LoginComponent />
   
}
else
{
    <MudText>Lädt</MudText>
}


@code {

    protected override async Task OnInitializedAsync()
    {
        ClientState.HubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gamehub"))
            .Build();

        ClientState.HubConnection.On(Actions.JoinGameSuccess.ToString(), (String message) =>
        {
            Console.WriteLine(message);
            StateHasChanged();
        });

        ClientState.HubConnection.On(Actions.JoinGameFail.ToString(), (String message) =>
        {
            Console.WriteLine(message);
            StateHasChanged();
        });

        await ClientState.HubConnection.StartAsync();
    }

    protected override void OnInitialized()
    {
        ClientState.OnChange += StateHasChanged;
    }
    
    public void Dispose()
    {
        ClientState.OnChange -= StateHasChanged;
    }

}
